body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
button{
    color: gray;
    font-size: large;
    background-color: white;
    width: 100%;
    border: 1;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}
#app{
    width: 95vw;
    height: 100vh;
}
#btn-group{
    display: flex;
    justify-content: space-between;
}
#searchBar{
    position: relative;
    top: 10%;
    background-color: black;
    border-radius: 45px;
}
#dropdown{
    background-color: black;
    color: white;
    border-width: 0;
    outline-style: none;
}
#getAllDataButton{
    background-color: black;
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border-width: 2px;
    border-color: white;
    padding: 0;
}
#resultArea{
    position:relative;
    top: 20%;
}